body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.categories div {
  display: inline-block;
  padding: 2px 5px;
  margin: 3px;
  cursor: pointer;  
  border: 1px solid #000;
}

.selected {
  background: #333;  
  color: #fff;
}

.item {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  vertical-align: top;
}
